/* Custom properties */
:root {
	--bg-header: #3161e0;
	--bg-primary: white;
	--bg-secondary: #f6f6f6;
	--bg-footer: #23272a;
	--dis-color-bold: #6f85d2;
	--dis-color-button: #8ea1e1;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* Utils */
.d-flex-r {
	display: flex;
}

.d-flex-c {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.container-sm {
	max-width: 700px;
	margin: 0 auto;
}

.jc-space-between {
	justify-content: space-between;
}

.jc-center {
	justify-content: center;
}

.center {
	align-items: center;
}

.wave {
    mask: url(../img/wave.svg) alpha no-repeat center 70%;
	background-color: var(--bg-secondary);
	height: 150px;
}

.reverse {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

/* Header */
header {
	background-color: var(--bg-header);
}

.main-header {
	font-size: .9rem;
	padding: 1rem;
}

nav .logo {
	height: 2rem;
}

nav .middle-row {
	min-width: 10rem;
	justify-content: space-around;
	align-items: center;
	a {
		padding: .6rem;
		text-decoration: none;
		color: white;
	}
}

nav .login-button {
	background-color: white;
	padding: .5rem 1rem;
	border-radius: 2rem;
	a {
		color:black;
		text-decoration: none;
	}
}


/* Jumbotron */
.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
	min-height: 500px;
}

.jumbo-content {
    margin: 5rem 0;
    color: white;
    text-align: center;
}

.jumbo-content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.jumbo-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 150%;
}

.download-button {
    padding: .8rem 1.6rem;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: .9rem;
	a {
		color: black;
		text-decoration: none;
	}
}

.to-app-button {
    padding: .8rem 1.6rem;
    border-radius: 20px;
    background-color: black;
    font-size: .9rem;
    color: white;
	text-decoration: none;
	margin-left: 2rem;
}

/* Banner */
.banner {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.invite_only {
}

.channel {
	background-color: var(--bg-secondary);
}

.meeting {
	background-color: var(--bg-secondary);
	text-align: center;
}

.banner-image {
    flex-basis: 60%;
	img {
		min-height: 400px;
	}
}

.banner-text {
	flex-basis: 40%;
	padding-top: 2rem;
	align-self: flex-start;
}

.banner-text h1 {
    font-size: 2.2rem;
    font-weight: 800;
    color: black;
    margin-bottom: 1rem;
}

.banner-text p {
	font-size: 1rem;
    line-height: 150%;
}

.meeting-call-to-action {
	justify-self: baseline;
	align-self: center;
	padding: 1rem;
}

.meeting-call-to-action h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
	padding: 2rem;
}

.meeting-call-to-action a {
    padding: .8rem 1.6rem;
    border-radius: 20px;
    background-color: var(--dis-color-button);
    color: white;
    font-size: .9rem;
	text-decoration: none;
}

/* Footer */
footer {
	background-color: var(--bg-footer);
}

.main-footer {
	padding: 5rem 0;
	gap: 3rem;
	align-items: flex-start;
}

.footer-text {
	min-height: 300px;
    flex-basis: 30%;
	h2 {
	    font-size: 1.5rem;
    	font-weight: 800;
    	color: var(--dis-color-bold);
		padding-bottom: .5rem;
	}
}

.language-icon {
	height: 15px;
	margin: .2rem;
	margin-top: 1rem;
}

.language-selector {
	background: none;
	border: 0;
	color: white;
	margin: .2rem;
	margin-top: 1rem;
}

.icon {
	background-color: white;
	height: 20px;
	width: 20px;
	margin-top: 1rem;
	margin-right: 1rem;
}

.facebook-icon {
    mask: url(../img/facebook_icon.svg) alpha no-repeat center 70%;
}
.twitter-icon {
    mask: url(../img/twitter_icon.svg) alpha no-repeat center 70%;
}
.instagram-icon {
    mask: url(../img/instagram_icon.svg) alpha no-repeat center 70%;
}
.youtube-icon {
    mask: url(../img/youtube_icon.svg) alpha no-repeat center 70%;
}


.nav-grid {
	min-height: 300px;
    flex-basis: 70%;
	justify-content: space-around;
}

.nav-grid-item {
    flex-basis: 25%;
	h3 {
		color: var(--dis-color-bold);
		line-height: 1.8rem;
		font-size: .9rem;
	}
	a {
		line-height: 1.8rem;
		font-size: .9rem;
		color: white;
		display: block;
		text-decoration: none;
	}
}
