/* Custom properties */
:root {
	--bg-header: #3161e0;
	--bg-primary: white;
	--bg-secondary: #f6f6f6;
	--bg-footer: #23272a;
	--dis-color-bold: #6f85d2;
	--dis-color-button: #8ea1e1;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/* Utils */
.d-flex-r {
	display: flex;
}

.d-flex-c {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.container-sm {
	max-width: 600px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.jc-space-between {
	justify-content: space-between;
}

.center {
	align-items: center;
}

/* Header */
header {
	background-color: var(--bg-header);
}

.main-header {
	font-size: .9rem;
	padding: 1rem;
}

nav .logo {
	height: 2rem;
}

nav .middle-row {
	min-width: 10rem;
	justify-content: space-around;
	align-items: center;
	a {
		padding: .6rem;
		text-decoration: none;
		color: white;
	}
}

nav .login-button {
	color:black;
	background-color: white;
	padding: .5rem 1rem;
	border-radius: 2rem;
	a {
		text-decoration: none;
	}
}


/* Main */
.banner {
	padding-top: 5rem;
}

.jumbotron,
.b-content {
	justify-content: center;
}

.card {
	justify-content: space-between;
	gap: 3rem;
}

/* Footer */
.footer-container {
	padding: 1rem;
	justify-content: flex-start;
}

.f-right {
	justify-content: space-around;
}
